RewriteEngine On
RewriteBase /
RewriteRule ^loads/([0-9]+)/(.*).html$ category.php?id=$1 [QSA,L]
RewriteRule ^load/file/([0-9]+)/(.*).html$ file.php?id=$1 [QSA,L]
RewriteRule ^download/([0-9]+)/([0-9]+)/(.*)/(.*)$ download.php?id=$1&ref=$2&sid=$3 [QSA,L]
RewriteRule ^masuk$ /masuk.php
RewriteRule ^daftar$ /daftar.php
RewriteRule ^keluar$ /keluar.php
